In [ ]:
import psycopg2 as psync
import asyncpg  as pasync

In [ ]:

conn = psync.connect(
    host='localhost',
    user='root',
    password='12345',
    port=5432,
    dbname='mydb'  
)

In [134]:
cur = myobj.cursor()
cur.execute("CREATE DATABASE Tanveer;")

In [135]:
cur = conn.cursor()
cur.execute("SELECT datname FROM pg_database WHERE datistemplate = false;")
for db in cur.fetchall():
    print(db[0])

postgres
mydb
veer
tanveer

In [129]:
# cur.execute("""
#     CREATE TABLE students (
#         id SERIAL PRIMARY KEY,
#         name VARCHAR(100),
#         age INTEGER,
#         grade VARCHAR(10)
#     );
# """)

In [130]:
students = [
    ('Alice', 20, 'A'),
    ('Bob', 21, 'B'),
    ('Charlie', 22, 'C'),
    ('David', 23, 'B'),
    ('Eva', 20, 'A'),
    ('Frank', 24, 'C'),
    ('Grace', 22, 'B'),
    ('Hannah', 21, 'A'),
    ('Ian', 23, 'B'),
    ('Julia', 20, 'A')
]


cur.executemany("INSERT INTO students (name, age, grade) VALUES (%s, %s, %s);", students)

In [131]:
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()

for row in rows:
    print(row)

(11, 'Alice', 20, 'A')
(12, 'Bob', 21, 'B')
(13, 'Charlie', 22, 'C')
(14, 'David', 23, 'B')
(15, 'Eva', 20, 'A')
(16, 'Frank', 24, 'C')
(17, 'Grace', 22, 'B')
(18, 'Hannah', 21, 'A')
(19, 'Ian', 23, 'B')
(20, 'Julia', 20, 'A')